/*
 *  Owl Carousel - Core
 */
@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap);
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
.owl-carousel {
  display: none;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  /* position relative and z-index fix webkit rendering fonts issue */
  position: relative;
  z-index: 1;
}
.owl-carousel .owl-stage {
  position: relative;
  touch-action: manipulation;
  -moz-backface-visibility: hidden;
  /* fix firefox animation glitch */
}
.owl-carousel .owl-stage:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.owl-carousel .owl-stage-outer {
  position: relative;
  overflow: hidden;
  /* fix for flashing background */
  -webkit-transform: translate3d(0px, 0px, 0px);
}
.owl-carousel .owl-wrapper,
.owl-carousel .owl-item {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
}
.owl-carousel .owl-item {
  position: relative;
  min-height: 1px;
  float: left;
  -webkit-backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}
.owl-carousel .owl-item img {
  width: 130px;
  height: 130px;
  border-radius: 55%;
  -o-object-fit: cover;
  object-fit: cover;
  padding: 3px;
  background: #66f04f;
}
.owl-carousel .owl-nav.disabled,
.owl-carousel .owl-dots.disabled {
  display: none;
}
.owl-carousel .owl-nav .owl-prev,
.owl-carousel .owl-nav .owl-next,
.owl-carousel .owl-dot {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.owl-carousel .owl-nav button.owl-prev,
.owl-carousel .owl-nav button.owl-next,
.owl-carousel button.owl-dot {
  background: none;
  color: inherit;
  border: none;
  padding: 0 !important;
  font: inherit;
}
.owl-carousel.owl-loaded {
  display: block;
}
.owl-carousel.owl-loading {
  opacity: 0;
  display: block;
}
.owl-carousel.owl-hidden {
  opacity: 0;
}
.owl-carousel.owl-refresh .owl-item {
  visibility: hidden;
}
.owl-carousel.owl-drag .owl-item {
  touch-action: pan-y;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.owl-carousel.owl-grab {
  cursor: move;
  cursor: -webkit-grab;
  cursor: grab;
}
.owl-carousel.owl-rtl {
  direction: rtl;
}
.owl-carousel.owl-rtl .owl-item {
  float: right;
}

/* No Js */
.no-js .owl-carousel {
  display: block;
}

/*
 *  Owl Carousel - Animate Plugin
 */
.owl-carousel .animated {
  -webkit-animation-duration: 1000ms;
          animation-duration: 1000ms;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}
.owl-carousel .owl-animated-in {
  z-index: 0;
}
.owl-carousel .owl-animated-out {
  z-index: 1;
}
.owl-carousel .fadeOut {
  -webkit-animation-name: fadeOut;
          animation-name: fadeOut;
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/*
 * 	Owl Carousel - Auto Height Plugin
 */
.owl-height {
  transition: height 500ms ease-in-out;
}

/*
 * 	Owl Carousel - Lazy Load Plugin
 */
.owl-carousel .owl-item {
  /**
  	This is introduced due to a bug in IE11 where lazy loading combined with autoheight plugin causes a wrong
  	calculation of the height of the owl-item that breaks page layouts
   */
}
.owl-carousel .owl-item .owl-lazy {
  opacity: 0;
  transition: opacity 400ms ease;
}
.owl-carousel .owl-item .owl-lazy[src^=""], .owl-carousel .owl-item .owl-lazy:not([src]) {
  max-height: 0;
}
.owl-carousel .owl-item img.owl-lazy {
  transform-style: preserve-3d;
}

/*
 * 	Owl Carousel - Video Plugin
 */
.owl-carousel .owl-video-wrapper {
  position: relative;
  height: 100%;
  background: #000;
}
.owl-carousel .owl-video-play-icon {
  position: absolute;
  height: 80px;
  width: 80px;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -40px;
  background: url("owl.video.play.png") no-repeat;
  cursor: pointer;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  transition: transform 100ms ease;
}
.owl-carousel .owl-video-play-icon:hover {
  transform: scale(1.3, 1.3);
}
.owl-carousel .owl-video-playing .owl-video-tn,
.owl-carousel .owl-video-playing .owl-video-play-icon {
  display: none;
}
.owl-carousel .owl-video-tn {
  opacity: 0;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: opacity 400ms ease;
}
.owl-carousel .owl-video-frame {
  position: relative;
  z-index: 1;
  height: 100%;
  width: 100%;
}

/*
 * 	Default theme - Owl Carousel CSS File
 */
.owl-theme .owl-nav {
  display: none;
  margin-top: 10px;
  text-align: center;
  -webkit-tap-highlight-color: transparent;
}
.owl-theme .owl-nav [class*=owl-] {
  color: #FFF;
  font-size: 14px;
  margin: 5px;
  padding: 4px 7px;
  background: #D6D6D6;
  display: inline-block;
  cursor: pointer;
  border-radius: 3px;
}
.owl-theme .owl-nav [class*=owl-]:hover {
  background: #869791;
  color: #FFF;
  text-decoration: none;
}
.owl-theme .owl-nav .disabled {
  opacity: 0.5;
  cursor: default;
}
.owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: 10px;
}
.owl-theme .owl-dots {
  text-align: center;
  -webkit-tap-highlight-color: transparent;
}
.owl-theme .owl-dots .owl-dot {
  display: inline-block;
  zoom: 1;
  *display: inline;
}
.owl-theme .owl-dots .owl-dot span {
  width: 10px;
  height: 10px;
  margin: 5px 7px;
  background: #D6D6D6;
  display: block;
  -webkit-backface-visibility: visible;
  transition: opacity 200ms ease;
  border-radius: 30px;
  width: 80px;
  margin: 20px 20px;
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
  background: #66f04f;
}

/*
 * 	Green theme - Owl Carousel CSS File
 */
.owl-theme .owl-nav {
  display: none;
  margin-top: 10px;
  text-align: center;
  -webkit-tap-highlight-color: transparent;
}
.owl-theme .owl-nav [class*=owl-] {
  color: #FFF;
  font-size: 14px;
  margin: 5px;
  padding: 4px 7px;
  background: #D6D6D6;
  display: inline-block;
  cursor: pointer;
  border-radius: 3px;
}
.owl-theme .owl-nav [class*=owl-]:hover {
  background: #869791;
  color: #FFF;
  text-decoration: none;
}
.owl-theme .owl-nav .disabled {
  opacity: 0.5;
  cursor: default;
}
.owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: 10px;
}
.owl-theme .owl-dots {
  text-align: center;
  -webkit-tap-highlight-color: transparent;
}
.owl-theme .owl-dots .owl-dot {
  display: inline-block;
  zoom: 1;
  *display: inline;
}
.owl-theme .owl-dots .owl-dot span {
  width: 10px;
  height: 10px;
  margin: 5px 7px;
  background: #D6D6D6;
  display: block;
  -webkit-backface-visibility: visible;
  transition: opacity 200ms ease;
  border-radius: 30px;
  width: 80px;
  margin: 20px 20px;
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
  background: #66f04f;
}

:root {
  /* Color */
  --lightest: #fffdf7;
  --brown: #a88c7b;
  --brown-darker: #9a7c6a;
  /* Width */
  --lg: 80rem;
  --md: 50rem;
  --sm: 30rem;
}

/*
  Utils, helpers
*/
.u-list-reset {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

/*
  Site nav
*/
.site-nav {
  top: 0;
  left: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  z-index: 99999;
  /*
    Curtain
  */
}
@media only screen and (max-width: 799px) {
  .site-nav {
    background-color: #151517;
    box-shadow: 0 12px 15px black;
  }
}
@media (max-width: 49.999rem) {
  .site-nav {
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 100%;
  }
}
.site-nav__curtain {
  visibility: hidden;
  position: fixed;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  z-index: 0;
  background: #1a4459;
  border-radius: 50%;
  transform: translateY(100%) scale(0);
  -webkit-animation-duration: 0.6s;
          animation-duration: 0.6s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
@media (min-width: 50rem) {
  .site-nav__curtain {
    visibility: hidden;
    transform: translateY(100%) scale(0) !important;
  }
}
.site-nav .curtain-up {
  -webkit-animation-name: curtainUp;
          animation-name: curtainUp;
}
@-webkit-keyframes curtainUp {
  0% {
    border-radius: 50%;
    transform: translateY(100%) scale(1);
    visibility: visible;
    opacity: 1;
  }
  50% {
    border-radius: 50%;
  }
  100% {
    transform: translateY(0%) scale(3, 1);
    visibility: visible;
    opacity: 1;
    border-radius: 0;
  }
}
@keyframes curtainUp {
  0% {
    border-radius: 50%;
    transform: translateY(100%) scale(1);
    visibility: visible;
    opacity: 1;
  }
  50% {
    border-radius: 50%;
  }
  100% {
    transform: translateY(0%) scale(3, 1);
    visibility: visible;
    opacity: 1;
    border-radius: 0;
  }
}
.site-nav .curtain-down {
  -webkit-animation-name: curtainDown;
          animation-name: curtainDown;
}
@-webkit-keyframes curtainDown {
  0% {
    border-radius: 0;
    transform: translateY(0%) scale(3, 1);
    opacity: 1;
    visibility: visible;
  }
  50% {
    opacity: 1;
    visibility: visible;
    border-radius: 50%;
  }
  99% {
    transform: translateY(100%) scale(0);
    visibility: visible;
    opacity: 1;
  }
  100% {
    transform: translateY(100%) scale(0);
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes curtainDown {
  0% {
    border-radius: 0;
    transform: translateY(0%) scale(3, 1);
    opacity: 1;
    visibility: visible;
  }
  50% {
    opacity: 1;
    visibility: visible;
    border-radius: 50%;
  }
  99% {
    transform: translateY(100%) scale(0);
    visibility: visible;
    opacity: 1;
  }
  100% {
    transform: translateY(100%) scale(0);
    opacity: 0;
    visibility: hidden;
  }
}
.site-nav .wrapper {
  max-width: var(--lg);
  margin: 0 auto;
  padding: 0 1.5rem;
}
.site-nav .wrapper__nav-area {
  display: grid;
  width: 100%;
  align-items: center;
  grid-template-areas: "logo . menuButton" "menu menu menu";
}
@media only screen and (max-width: 799px) {
  .site-nav .wrapper__nav-area {
    justify-content: space-between;
  }
}
@media (min-width: 50rem) {
  .site-nav .wrapper__nav-area {
    grid-template-areas: "logo . . . . . . . . menu";
  }
}
@media only screen and (max-width: 49.999rem) {
  .site-nav .wrapper__nav-area {
    grid-template-rows: auto 1fr;
  }
}
.site-nav .wrapper__nav-area .logo {
  font-size: 2rem;
  justify-self: end;
  grid-area: logo;
  color: #fff;
  z-index: 99999;
  top: 0;
  left: 0;
}
.site-nav__menu {
  grid-area: menu;
}
@media (max-width: 49.999rem) {
  .site-nav__menu {
    display: none;
    flex-direction: column;
    margin: auto;
    padding-top: 1rem;
    padding-bottom: 2rem;
    -webkit-animation-duration: 0.2s;
            animation-duration: 0.2s;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
  }
}
.site-nav__link {
  padding: 1rem;
  display: block;
  color: #fff !important;
}
@media (max-width: 49.999rem) {
  .site-nav__link {
    font-size: calc(1.2rem + 3vw);
  }
}
.site-nav__link:after {
  content: "";
  width: 0%;
  height: 2px;
  display: block;
  background: #fff;
  margin: auto;
  transition: 0.5s;
}
.site-nav__link:hover:after {
  width: 100%;
}

@media (max-width: 49.999rem) {
  .site-nav--is-open {
    height: 100vh;
    overflow-y: auto;
  }
  .site-nav--is-open .site-nav__menu {
    padding-top: 50px;
    display: flex;
  }
}
@media (min-width: 50rem) {
  .site-nav__menu {
    display: flex;
    flex-direction: row;
    padding: 0;
  }
}
.fade-in {
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-name: fade;
          animation-name: fade;
}

.fade-out {
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
  -webkit-animation-name: fade;
          animation-name: fade;
}

@-webkit-keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*
  Menu button
*/
.menu-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
  padding: 0.5rem 0 0.5rem 2rem;
  color: var(--lightest);
  position: -webkit-sticky;
  position: sticky;
  left: 0;
  top: 0;
  align-self: normal;
  justify-self: start;
  z-index: 10;
  grid-area: menuButton;
}
.menu-button:active {
  transform: translateY(-0.2rem);
}

@media (min-width: 50rem) {
  .menu-button {
    display: none;
  }
}
.menu-button__lines {
  display: grid;
  gap: 5px;
  transition: all 0.2s ease;
  position: absolute;
  left: 0;
}

.menu-button__lines--open {
  gap: 0;
}

.menu-button__line {
  display: block;
  transition: 0.2s ease;
  content: "";
  width: 1.2rem;
  height: 2px;
  background-color: var(--lightest);
  transform-origin: center;
}

.menu-button:hover .menu-button__lines {
  gap: 8px;
}

.menu-button__lines--open .menu-button__line {
  grid-row-start: 1;
  grid-column-start: 1;
  transform: rotate(45deg) scale(1.6);
}
.menu-button__lines--open .menu-button__line:nth-child(3) {
  transform: rotate(-45deg) scale(1.6);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-size: 1em;
  font-family: "Open Sans", sans-serif;
}

ul {
  padding: 0;
}

a {
  text-decoration: none !important;
}
a:hover {
  color: #fff;
}

.ds_none {
  display: none !important;
}

.fundoAzulEscuro {
  background-color: #1a4459;
  height: 50px;
}

nav {
  transition: 0.7s;
}

.sticky {
  background: #00000087;
  position: fixed;
  transition: 0.7s;
  width: 100%;
}

.container-home {
  width: 100%;
  background: url(images/Game-Development2.png);
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.text-box {
  position: absolute;
  margin-bottom: 80px;
  bottom: 5px;
  color: #fff;
}
.text-box p {
  font-size: 35px;
  font-weight: 600;
  text-transform: uppercase;
}
.text-box h1 {
  text-transform: uppercase;
  font-size: 150px;
  line-height: 160px;
  color: transparent;
  -webkit-text-stroke: 1px #fff;
  background: url(images/back.webp);
  -webkit-background-clip: text;
  background-position: 0 0;
  -webkit-animation: back 20s linear infinite;
          animation: back 20s linear infinite;
}
.text-box h3 {
  text-transform: uppercase;
}
.text-box .row {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  align-items: center;
}

@-webkit-keyframes back {
  100% {
    background-position: 2000px 0;
  }
}

@keyframes back {
  100% {
    background-position: 2000px 0;
  }
}
.content-about {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 0 30px 0 30px;
}

figure {
  text-align: center;
}
figure .about-foto {
  width: 200px;
  height: 200px;
  border: 1px solid #ffff;
  border-radius: 55%;
  -o-object-fit: cover;
     object-fit: cover;
  padding: 3px;
  background: #66f04f;
}

.text-box-header {
  text-align: center;
}
.text-box-header h1 {
  margin-top: 10px;
  font-size: 40px;
  font-weight: 600;
}
.text-box-header p {
  font-size: 20px;
}
.text-box-header p span {
  color: #66f04f;
}

.text-box-about h1 {
  margin-bottom: 20px;
  font-size: 25px;
  position: relative;
}
.text-box-about h2 {
  font-size: 25px;
  padding: 15px 0;
}
.text-box-about h2:before {
  width: 60px;
  border-bottom: 3px solid #66f04f;
  content: "";
  position: absolute;
  margin-top: 40px;
}
.text-box-about p {
  font-size: 18px;
}

.container-projects {
  background-color: #26292a;
  padding: 30px 0;
}

.card {
  margin-bottom: 15px;
}

.cards-projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.text-box-projects {
  text-align: center;
  padding-bottom: 20px;
}
.text-box-projects h1 {
  font-size: 40px;
  font-weight: 600;
  color: #fff;
}
.text-box-projects p {
  font-size: 20px;
}
.text-box-projects p span {
  color: #fff;
}
.text-box-projects p span:nth-last-child(2) {
  color: #66f04f;
}

/* @MEDIA - MOBILE */
/* 900px */
@media (max-width: 900px) {
  .card {
    flex-basis: calc(40% - 10px);
    margin-bottom: 15px;
  }

  .nav-links {
    display: none !important;
  }

  .ds_none {
    display: flex !important;
  }

  nav ul li:after, nav ul li:hover:after {
    display: none !important;
  }
}
/* 767px */
@media only screen and (max-width: 767px) {
  .text-box h1 {
    font-size: 130px;
  }
}
/* 700px */
@media (max-width: 700px) {
  .text-box h1 {
    font-size: 80px;
  }
}
/* 518px */
@media (max-width: 518px) {
  .text-box h1 {
    font-size: 80px;
  }
  .text-box p {
    margin-bottom: -10px;
  }

  .text-box-projects h1 {
    font-size: 35px;
  }
  .text-box-projects p {
    font-size: 15px;
  }
}
/* 420px */
@media (max-width: 480px) {
  .container-home {
    height: 70vh;
  }

  .text-box {
    top: 200px;
  }
  .text-box h1 {
    font-size: 45px;
    margin-bottom: -30px;
  }
  .text-box h3 {
    font-size: 18px;
  }
  .text-box p {
    font-size: 25px;
    margin-bottom: -30px;
  }

  .text-box-about p {
    font-size: 15px;
  }

  .about-foto {
    width: 180px;
  }
}
#menuMobile {
  width: 300px;
  height: 100vh;
  right: 0;
  top: 0;
  background: #262c40;
  z-index: 2;
  position: fixed;
  transition: 0.5s;
}

.menu-mobile-content li {
  margin: 45px 30px;
  list-style: none;
  display: flex;
}
.menu-mobile-content li a {
  color: #fff;
}
.menu-mobile-content a:after {
  content: "";
  width: 0%;
  height: 2px;
  display: block;
  background: #fff;
  margin-top: 2px;
  transition: 0.5s;
}
.menu-mobile-content a:hover:after {
  width: 100%;
}

#menuBtn {
  width: 30px;
  position: fixed;
  right: 30px;
  top: 20px;
  z-index: 2;
  cursor: pointer;
  background: #262c40;
}

#slide-projetos {
  margin-top: 20px;
}
#slide-projetos p {
  font-size: 13px;
  margin-top: 10px;
  color: #fff;
}
#slide-projetos figure {
  background-color: #222121;
  padding: 20px;
  transition: background-color 0.3s ease-in-out;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  border-radius: 5px;
}
#slide-projetos figure:hover {
  background-color: #1a4459;
}

.container-skills {
  padding: 60px 0;
}
.container-skills header h1 {
  font-size: 45px;
  text-align: center;
  color: #000000;
  position: relative;
}
.container-skills header h1::before {
  width: 270px;
  border-bottom: 3px solid #66f04f;
  content: "";
  position: absolute;
  top: 60;
}
.container-skills__grid {
  padding-top: 70px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 30px;
  grid-template-areas: ".";
}
@media only screen and (max-width: 992px) {
  .container-skills__grid {
    grid-template-columns: 1fr 1fr;
  }
}
@media only screen and (max-width: 600px) {
  .container-skills__grid {
    grid-template-columns: 1fr;
  }
}
.container-skills__grid .conf-grid {
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  padding: 20px;
  border-radius: 5px;
  transition: 0.5s;
}
.container-skills__grid .conf-grid:hover {
  transform: translateY(-10px) !important;
  transition: 0.5s !important;
}
.container-skills__grid .conf-grid figure img {
  width: 115px;
}
.container-skills__grid .conf-grid h3 {
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 27px;
}
.container-skills__grid .conf-grid p {
  padding-top: 15px;
  font-size: 15px;
}

.container-forms {
  padding: 50px 0;
}
.container-forms__conf-geral {
  overflow: hidden;
}
.container-forms__conf-geral h1 {
  padding: 30px 0;
  border-top: solid 5px #66f04f;
  text-align: center;
}
@media only screen and (max-width: 991px) {
  .container-forms__conf-geral lottie-player {
    margin: 0 auto;
  }
}
.container-forms__conf-geral .box-forms .conf-forms input {
  margin: 0 20px 20px 0;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background: #f7f7f7;
  outline: 0;
}
.container-forms__conf-geral .box-forms .conf-forms input:nth-last-child(1) {
  background: #66f04f;
  border: none;
  padding: 10px 30px 10px 30px;
  border-radius: 5px;
  transition: 0.5s;
}
.container-forms__conf-geral .box-forms .conf-forms input:nth-last-child(1):hover {
  border: solid 2px #66f04f;
  background: transparent;
  transition: 0.5s;
}
.container-forms__conf-geral .box-forms .conf-forms textarea {
  height: 155px;
  padding: 10px;
  width: 430px;
  resize: none;
  margin-bottom: 20px;
  border-radius: 5px;
  background: #f7f7f7;
  border: 1px solid #ccc;
  outline: 0;
}

.conf-footer {
  background-color: #222121;
  padding-top: 15px;
}
.conf-footer p {
  color: #fff;
}
.conf-footer__social ul {
  list-style: none;
  display: flex;
  justify-content: end;
}
@media only screen and (max-width: 767px) {
  .conf-footer__social ul {
    justify-content: start;
  }
}
.conf-footer__social ul li {
  margin-right: 15px;
}
.conf-footer__social img {
  width: 25px;
}