* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-size: 1em;
    font-family: 'Ubuntu', sans-serif;
}

a {
    text-decoration: none!important;
}

a:hover {
    color: #fff;
}

.ds_none{
    display: none !important;
}

.fundoAzulEscuro{
    background-color: #1a4459;
    height: 50px;
}
