#menuMobile {
    width: 300px;
    height: 100vh;
    right: 0;
    top: 0;
    background: #2f6d9b;
    z-index: 2;
    position: fixed;
    transition: .5s;
}

.menu-mobile-content li{
    margin: 45px 30px;
    list-style: none;
    display: flex;
}

.menu-mobile-content li a {
    color: #fff;
}

.menu-mobile-content a:after{
    content: '';
    width: 0%;
    height: 2px;
    display: block;
    background: #fff;
    margin-top: 2px;
    transition: 0.5s;
}

.menu-mobile-content a:hover:after{
    width: 100%;  
}

#menuBtn{
    width: 30px;
    position:  fixed;
    right: 30px;
    top: 20px;
    z-index: 2;
    cursor: pointer; 
    background: #2f6d9b;
}
