// importandos sass owl-carousel
@import "core";
@import "animate";
@import "autoheight";
@import "lazyload";
@import "video";
@import "theme.default";
@import "theme.green";
@import "menu-mobile";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-size: 1em;
  font-family: "Open Sans", sans-serif;
}

ul {
  padding: 0;
}

a {
  text-decoration: none !important;

  &:hover {
    color: #fff;
  }
}

.ds_none {
  display: none !important;
}

.fundoAzulEscuro {
  background-color: #1a4459;
  height: 50px;
}
nav {
  transition: 0.7s;
}

.sticky {
  background: #00000087;
  position: fixed;
  transition: 0.7s;
  width: 100%;
}

.container-home {
  width: 100%;
  background: url(images/Game-Development2.png);
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.text-box {
  position: absolute;
  margin-bottom: 80px;
  bottom: 5px;
  color: #fff;

  p {
    font-size: 35px;
    font-weight: 600;
    text-transform: uppercase;
  }

  h1 {
    text-transform: uppercase;
    font-size: 150px;
    line-height: 160px;
    color: transparent;
    -webkit-text-stroke: 1px #fff;
    background: url(images/back.webp);
    -webkit-background-clip: text;
    background-position: 0 0;
    animation: back 20s linear infinite;
  }
  h3 {
    text-transform: uppercase;
  }
  .row {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    align-items: center;
  }
}

@keyframes back {
  100% {
    background-position: 2000px 0;
  }
}

.content-about {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 0 30px 0 30px;
}

figure {
  text-align: center;
  .about-foto {
    width: 200px;
    height: 200px;
    border: 1px solid #ffff;
    border-radius: 55%;
    object-fit: cover;
    padding: 3px;
    background: #66f04f;
  }
}

.text-box-header {
  text-align: center;
  h1 {
    margin-top: 10px;
    font-size: 40px;
    font-weight: 600;
  }

  p {
    font-size: 20px;

    span {
      color: #66f04f;
    }
  }
}

.text-box-about {
  h1 {
    margin-bottom: 20px;
    font-size: 25px;
    position: relative;
  }
  h2 {
    font-size: 25px;
    padding: 15px 0;
    &:before {
      width: 60px;
      border-bottom: 3px solid #66f04f;
      content: "";
      position: absolute;
      margin-top: 40px;
    }
  }

  p {
    font-size: 18px;
  }
}

.container-projects {
  background-color: #26292a;
  padding: 30px 0;
}

.card {
  margin-bottom: 15px;
}

.cards-projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.text-box-projects {
  text-align: center;
  padding-bottom: 20px;

  h1 {
    font-size: 40px;
    font-weight: 600;
    color: #fff;
  }

  p {
    font-size: 20px;

    span {
      color: #fff;
      &:nth-last-child(2) {
        color: #66f04f;
      }
    }
  }
}

/* @MEDIA - MOBILE */

/* 900px */
@media (max-width: 900px) {
  .card {
    flex-basis: calc(40% - 10px);
    margin-bottom: 15px;
  }

  .nav-links {
    display: none !important;
  }

  .ds_none {
    display: flex !important;
  }

  nav ul li {
    &:after,
    &:hover:after {
      display: none !important;
    }
  }
}

/* 767px */
@media only screen and (max-width: 767px) {
  .text-box {
    h1 {
      font-size: 130px;
    }
  }
}

/* 700px */
@media (max-width: 700px) {
  .text-box {
    h1 {
      font-size: 80px;
    }
  }
}

/* 518px */
@media (max-width: 518px) {
  .text-box {
    h1 {
      font-size: 80px;
    }

    p {
      margin-bottom: -10px;
    }
  }

  .text-box-projects {
    h1 {
      font-size: 35px;
    }

    p {
      font-size: 15px;
    }
  }
}

/* 420px */
@media (max-width: 480px) {
  .container-home {
    height: 70vh;
  }
  .text-box {
    top: 200px;

    h1 {
      font-size: 45px;
      margin-bottom: -30px;
    }

    h3 {
      font-size: 18px;
    }

    p {
      font-size: 25px;
      margin-bottom: -30px;
    }
  }

  .text-box-about {
    p {
      font-size: 15px;
    }
  }

  .about-foto {
    width: 180px;
  }
}

#menuMobile {
  width: 300px;
  height: 100vh;
  right: 0;
  top: 0;
  background: #262c40;
  z-index: 2;
  position: fixed;
  transition: 0.5s;
}

.menu-mobile-content {
  li {
    margin: 45px 30px;
    list-style: none;
    display: flex;

    a {
      color: #fff;
    }
  }

  a {
    &:after {
      content: "";
      width: 0%;
      height: 2px;
      display: block;
      background: #fff;
      margin-top: 2px;
      transition: 0.5s;
    }

    &:hover:after {
      width: 100%;
    }
  }
}

#menuBtn {
  width: 30px;
  position: fixed;
  right: 30px;
  top: 20px;
  z-index: 2;
  cursor: pointer;
  background: #262c40;
}

#slide-projetos {
  margin-top: 20px;
  p {
    font-size: 13px;
    margin-top: 10px;
    color: #fff;
  }
  figure {
    background-color: #222121;
    padding: 20px;
    transition: background-color 0.3s ease-in-out;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
      rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    border-radius: 5px;
    &:hover {
      background-color: #1a4459;
    }
  }
}

.container-skills {
  padding: 60px 0;
  header {
    h1 {
      font-size: 45px;
      text-align: center;
      color: #000000;
      position: relative;
      &::before {
        width: 270px;
        border-bottom: 3px solid #66f04f;
        content: "";
        position: absolute;
        top: 60;
      }
    }
  }
  &__grid {
    padding-top: 70px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 30px;
    grid-template-areas: ".";
    @media only screen and (max-width: 992px) {
      grid-template-columns: 1fr 1fr;
    }
    @media only screen and (max-width: 600px) {
      grid-template-columns: 1fr;
    }
    .conf-grid {
      box-shadow: rgb(14 30 37 / 12%) 0px 2px 4px 0px,
        rgb(14 30 37 / 32%) 0px 2px 16px 0px;
      padding: 20px;
      border-radius: 5px;
      transition: 0.5s;
      &:hover {
        transform: translateY(-10px) !important;
        transition: 0.5s !important;
      }
      figure {
        img {
          width: 115px;
        }
      }
      h3 {
        text-align: center;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 27px;
      }
      p {
        padding-top: 15px;
        font-size: 15px;
      }
    }
  }
}

.container-forms {
  padding: 50px 0;
  &__conf-geral {
    overflow: hidden;
    h1 {
      padding: 30px 0;
      border-top: solid 5px #66f04f;
      text-align: center;
    }
    lottie-player {
      @media only screen and (max-width: 991px) {
        margin: 0 auto;
      }
    }
    .box-forms {
      .conf-forms {
        input {
          margin: 0 20px 20px 0;
          padding: 5px;
          border-radius: 5px;
          border: 1px solid #ccc;
          background: #f7f7f7;
          outline: 0;
          &:nth-last-child(1) {
            background: #66f04f;
            border: none;
            padding: 10px 30px 10px 30px;
            border-radius: 5px;
            transition: 0.5s;
            &:hover {
              border: solid 2px #66f04f;
              background: transparent;
              transition: 0.5s;
            }
          }
        }
        textarea {
          height: 155px;
          padding: 10px;
          width: 430px;
          resize: none;
          margin-bottom: 20px;
          border-radius: 5px;
          background: #f7f7f7;
          border: 1px solid #ccc;
          outline: 0;
        }
      }
    }
  }
}

.conf-footer {
  background-color: #222121;
  padding-top: 15px;
  p {
    color: #fff;
  }
  &__social {
    ul {
      list-style: none;
      display: flex;
      justify-content: end;
      @media only screen and (max-width: 767px) {
        justify-content: start;
      }
      li {
        margin-right: 15px;
      }
    }
    img {
      width: 25px;
    }
  }
}
